/* Removing the default padding and margin*/
body {
  margin: 0px;
  padding: 0px;
  /* Making it so that all text on the website it Roboto */
  font-family: "Roboto", "San-Serif";
  color: white;
  font-weight: 600;
  overflow-x: hidden;
}

/* Removing default padding and margin from p tags*/
p {
  margin: 0px;
  padding: 0px;
}

//Applying styling to all the flexItems in the website
.flexItems {
  width: 100%;
  height: 100%;
  flex: 1 1;
}

//Setting up the basic page layout for the website
.PageBody {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  
  &.default{
    background-color: rgb(109, 109, 109);
  }

  &.dark{
    background-color: rgb(44, 44, 44);
  }

  &.light{
    background-color: rgb(196, 196, 196);
    color: black;
  }

  .mainBody {
    flex: 5 5;
    justify-content: center;
    align-items: center;
  }
}

//Making a background to go behind forms
//Within this is all the styling that is needed for the login and signup form
.formBackground {
  width: 60%;
  background-color: rgb(158, 158, 158);
  border-radius: 10%;
  margin-bottom: 20px;

  //Applying styling to all forms on the website
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      padding: 10px;
      margin: 10px;
      width: 50%;
      cursor: pointer;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid lightgray;

    &:focus{
      border: none;
    }
    }

    /* Changing the placeholder color*/
    ::placeholder {
      color: white;
    }

    /* Styling the file input part of forms*/
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px;
      cursor: pointer;

      span {
        font-size: 16px;
      }

      img {
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    /* Styling the span elements of the form*/
    span {
      font-weight: 600;
    }
  }

  /* Styling for the submit buttons in forms*/
  .formButton {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: #cecece;
    border-radius: 20px;
  }

  /* Styling the error field of the forms*/
  .error {
    gap: 10px;
    color: rgb(220, 62, 62);
  }
}

/* Styling for the homepage of the website */
.home {
  flex-direction: row;
}

.main {
  flex: 4 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .content {
    flex: 8 8;

    .timetable{
      
      .timetableHeader{
        p{
          font-weight: 600;
          font-size: 72px;
          padding: 40px;
        }

        button{
          width: 40%;
          padding: 20px;
          font-size: 40px;
          font-weight: 600;
          background-color: orange;
          border: none;
          border-radius: 25px;

          &:hover{
            border: 2px solid white;
          }
        }
      }

      .TimeTableDisplay {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;

        .TTDHeader{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 80%;
          gap: 20px;
          border: 4px solid black;
          background-color: rgb(202, 202, 202);

          img{
            flex: 1 1;
            width: 50px;
            height: 50px;
            cursor: pointer;

            &:hover{
              border: 2px solid white;
            }
          }

          p{
            flex: 10;
            font-size: 42px;
            color: black;
          }
        }

        .TTDMain{

          .timetableDay{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .dayHeader{
              font-size: 42px;
              border: 4px solid black;
              text-align: center;
              width: 80%;
              background-color: rgb(66, 66, 66);
              padding-top: 10px;
              padding-bottom: 10px;
            }

            .dayEvents{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 80%;

              .eventLine{
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 4px solid black;
                border-left: 4px solid black;
                background-color: rgb(141, 141, 141);
                height: 100%;

                .event{
                  height: 100%;
                  background-color: rgb(196, 196, 196);

                  &.complete{
                    background-color: gold;
                  }

                  p{
                    color: black;
                    font-size: 32px;

                    &.eventName{
                      font-size: 36px;
                      font-weight: 700;
                    }

                    &.eventDetails{
                      font-style: italic;
                    }
                  }

                  &.left{
                    border-bottom: 4px solid black;
                    border-right: 4px solid black;
                  }

                  &.middle{
                    border-bottom: 4px solid black;
                    border-right: 4px solid black;
                  }

                  &.right{
                    border-bottom: 4px solid black;
                  }

                  &.blank{
                    background-color: transparent;
                  }

                  .eventFooter{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5px;
                    height: 30px;

                    .blank{
                      flex: 4 4;
                    }

                    .button{
                      height: 30px;
                      border-radius: 10px;
                      background-color: orange;

                      &:hover{
                        cursor: pointer;
                        border: 2px solid white;
                      }
                    }

                    .completed{
                      font-weight: 700;
                      font-style: italic;
                    }
                  }
                }

                .noEvents{
                  width: 100%;
                  padding: 20px;
                  font-size: 42px;
                  border: 4px solid black;
                }

                .option{
                  &:hover{
                    background-color: rgb(125, 125, 125);
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }


    .Goals {
      margin-top: 40px;
      margin-bottom: 60px;

      &.hideGoals {
        /* Hiding all elements that I have chosen to hide, so it focuses on the form*/
        .hideElement {
          opacity: 0.1;
        }
      }

      .GoalsHeader {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titleArea {
          span:hover {
            text-decoration: underline;
          }
        }

        .buttonArea {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10%;
          margin-top: 10px;

          button {
            padding: 14px;
            border-radius: 35px;
            width: 30%;
            background-color: orange;
            color: white;
            font-size: 28px;
            border: none;
            font-weight: 700;
            cursor: pointer;

            &:hover {
              border: 2px solid white;
            }
          }
        }

        .goalOptionsArea {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 10px;
          gap: 20px;

          .optionsLevel {
            display: flex;
            justify-content: center;
            align-items: space-evenly;
            gap: 20px;

            .option {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              font-size: 22px;
            }

            button {
              font-size: 26px;
              width: 40%;
              border-radius: 10px;
              padding: 10px;
              border: none;
              font-weight: 600;

              &:hover {
                border: 2px solid white;
              }
            }
          }
        }
      }

      .IndividualGoals {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .homePageGoal {
          width: 60vw;
          margin-top: 20px;
          border-radius: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          
          &.default{
            background-color: rgb(188, 188, 188);
            color: black;
            border: 2px solid black;
          }

          &.light{
            background-color: rgb(93, 93, 93);
            color: rgb(255, 255, 255);
            border: 2px solid rgb(0, 0, 0);
          }

          &.dark{
            background-color: rgb(145, 145, 145);
            color: black;
            border: 2px solid rgb(145, 145, 145);
          }

          .hpgHeader {
            flex: 2 2;
            border-bottom: 1px solid black;
            font-size: 42px;
            margin-bottom: 10px;

            span {
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }

            p {
              font-size: 20px;
              padding: 5px;
              margin: 10px;
            }

            .hpgHeaderLine {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;
              height: 30px;

              /* The styling for the progress bar is below, outisde of any lines*/
            }

            .completedBanner {
              width: 100%;
              background-color: black;
              color: white;

              p {
                font-size: 32px;
              }
            }
          }

          .hpgMain {
            font-size: 20px;
            flex: 1 1;
            min-height: 40px;

            p {
              padding: 0px;
              margin: 5px;

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          .hpgFooter {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex: 1 1;

            .hpgFooterEmpty {
              flex: 9 9;
            }

            .hpgFooterContent {
              height: 20px;
              border: 1px solid black;
              background-color: orange;
              cursor: pointer;
              border-radius: 10px;
            }
          }

          .options {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin: 5px;

            button {
              border-radius: 10px;
              border: none;
              margin-right: 20px;
              padding: 10px;
              font-size: 24px;
              font-weight: 600;

              &:hover {
                border: 2px solid white;
                cursor: pointer;
              }
            }

            .delete {
              background-color: red;
            }
          }
        }
      }
    }
  }
}

#completed {
  background-color: gold;
  color: black;
}

/* Styling the header of pages on the website*/
.header {
  height: 60px;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;

  .light{
    color: white;
  }

  p {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size: 32px;
    cursor: pointer;
  }

  /* Generic image stylign for images on the website */
  img {
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Styling for the sidebar of the website */
.sideBar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;

  .sideBarHeader {
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    height: 100%;
  }

    /* Generic image stylign for images on the website */
    img {
      width: 48px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      margin-left: 30px;
      margin-right: 30px;
    }

  .sideBarContent {
    background-color: rgb(155, 155, 155);
    flex: 8 8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    .sideBarElement {
      font-size: 24px;
      display: flex;
      flex: 1 1;
      justify-content: center;
      align-items: center;
      transition: background-color 1s;
      cursor: pointer;
      height: 100%;

      &:hover {
        background-color: rgb(109, 109, 109);
      }
    }
  }
}

/* Styling for the progress bar of the page */
.container {
  width: 20%;
  background-color: #ddd;
  border: 1px solid black;
  text-align: center;
}

.progress-bar {
  height: 24px;
  background-color: #4caf50;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  color: white;
}

//Styling the MakeAGoal form
#MakeForm {
  padding: 10px;
  height: 100%;
  margin-top: 10px;
  margin-left: 20vw;
  margin-bottom: 20px;
  opacity: 1;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;

  &.default{
    color: black;
    background-color: rgb(188, 188, 188);
  }

  &.dark{
    color: black;
    background-color: rgb(188, 188, 188);
  }

  &.light{
    color: white;
    background-color: rgb(77, 77, 77);
  }

  .formHeader {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    .headerTitle {
      flex: 8 8;
      font-size: 50px;
    }
  }

  .formContent {
    flex: 6 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
      margin-left: 5%;
      width: 100%;
    }

    .formLine {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      gap: 40px;

      span{
        font-size: 42px;
      }

      button {
        margin-top: 5px;
      }

      .lineInput {
        margin: 5px;

        input {
          padding: 10px;
          width: 13vw;
          font-size: 26px;
          font-weight: 600;
          border: none;
          border-bottom: 2px solid white;
          background-color: transparent;

          &:focus {
            border: none;
          }

          &::placeholder {
            font-size: 26px;
          }
        }

        select {
          padding: 10px;
          width: 15vw;
          font-size: 26px;
          border: none;
          border-bottom: 2px solid white;
          font-weight: 600;
          background-color: transparent;

          &::placeholder {
            font-size: 26px;
          }

          &:focus{
            border: none;
          }
        }

        &.light{
          input{
            color: white;
            &::placeholder{
              color: rgb(201, 201, 201);
            }
          }
          select{
            color: rgb(201,201,201);
          }
          option{
            color: black;
          }
        }
      }
    }

    .indent {
      margin-left: 30px;
    }

    .buttonLine {
      flex: 1 1;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: space-evenly;
      margin-bottom: 10px;

      .exitImg {
        height: 60px;
        width: 60px;
        cursor: pointer;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 30px;
        margin-right: 30px;

        &:hover {
          border: 1px solid white;
        }
      }

      button {
        padding: 20px;
        background-color: rgb(0, 114, 0);
        color: white;
        font-size: 24px;
      }
    }

    .skillsOutput {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 28px;

      .skillLine {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 5px;

        .individualSkill {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }

      button {
        padding: 5px;
        background-color: red;
        font-size: 26px;
        font-weight: 700;
        width: 28px;
        height: 28px;
        border-radius: 28px;
        color: white;
        padding: 0px;
      }
    }

    button {
      padding: 10px;
      font-size: 18px;
      border-radius: 10px;
      border: none;
      font-weight: 600;
      text-align: center;
      width: 20vw;
      cursor: pointer;

      &.addSkill {
        width: 10vw;
      }

      &:hover {
        border: 2px solid white;
      }
    }
  }

  .error {
    margin-top: 5px;
    font-size: 24px;
    color: red;
    font-weight: 500;
    font-style: italic;
  }
}

//Class to hide elements within a page
.hideGoals {
  /* Hiding all elements that I have chosen to hide, so it focuses on the form*/
  .hideElement {
    opacity: 0.1;
  }
}

//Styling the goal page of the website
.Goal {
  flex-direction: row;

  //Implementing the code to hide elements
  .goalPage {

    .completed {
      width: 100%;
      background-color: gold;
      padding: 10px;
      color: black;
    }

    /* Styling the skills section of the page */
    .skillsOutput {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 40px;
      }

      .skillInputLine {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        button {
          margin-top: 15px;
          padding: 5px;
          width: 20%;
        }

        input {
          padding: 10px;
          width: 20%;
          background: transparent;
          border: none;
          font-size: 28px;
          font-weight: 600;

          &.default{
            color: white;
            border-bottom: 2px solid white;

            &::placeholder{
              color: white;
            }
          }

          &.dark{
            color: white;
            border-bottom: 2px solid white;

            &::placeholder{
              color: white;
            }
          }

          &.light{
            color: black;
            border-bottom: 2px solid black;

            &::placeholder{
              color: black;
            }
          }

          &:focus{
            border: none;
          }
        }

        ::placeholder {
          padding: 5px;
          font-size: 28px;
          font-weight: 600;
        }
      }

      .skillLine {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 10px;

        .individualSkill {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          p {
            font-size: 32px;
          }

          button {
            padding: 5px;
            background-color: red;
            font-size: 26px;
            font-weight: 700;
            width: 28px;
            height: 28px;
            border-radius: 28px;
            color: white;
            padding: 0px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .goalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    span {
      font-size: 60px;
    }

    .goalHeaderLine {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      gap: 20px;
      height: 30px;
    }

    p {
      font-size: 32px;
    }

    .subgoalOf {
      color: rgb(251, 248, 103);
      font-style: italic;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .subgoalLine {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 60%;
    gap: 20px;
    height: 30px;
    margin-bottom: 10px;

    p {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .subgoals {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    p {
      font-size: 32px;

      &.subgoalName {
        margin-left: 25vw;
      }
    }
  }

  //Styling the subheadings of the page
  .subheading {
    font-size: 40px;
    margin-bottom: 20px;
  }

  //Styling the buttons on the website
  button {
    padding: 14px;
    border-radius: 35px;
    width: 30%;
    background-color: orange;
    color: white;
    font-size: 28px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;

    &.AddGoalButton {
      margin-left: 35vw;
    }

    &:hover {
      border: 2px solid white;
    }
  }

  .accounts {
    margin-top: 10px;
    margin-bottom: 30px;

    #MakeForm {

      p {
        font-size: 30px;
      }

      .headerTitle {
        margin-top: 10px;
        font-size: 42px;
      }

      .EntryDetails {
        text-align: left;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        textarea {
          min-width: 100%;
          max-width: 120%;
          min-height: 20vh;
          font-size: 20px;
          padding: 10px;
          margin-bottom: 20px;
          resize: none;
        }
      }
    }

    .accountsMain {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      .delete {
        background-color: red;
      }

      .entry {
        border: 2px solid white;
        width: 80%;
        border-radius: 10px;
        background-color: rgb(188, 188, 188);

        &.light{
          background-color: rgb(77, 77, 77);
        }

        .entryOf {
          color: rgb(224, 70, 70);
          margin: 5px;
        }
      }

      p {
        font-size: 26px;
        text-align-last: left;
        margin-left: 20px;
        color: black;

        &.light{
          color: white;
        }
      }

      .skillLine {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;

        .skill {
          color: rgb(34, 152, 34);

          &.light{
            color: yellow;
          }
        }
      }

      .entryDetails {
        padding: 10px;
        margin: 10px;
      }

      .title {
        font-size: 40px;
      }

      .centered {
        text-align-last: center;
      }

      .entryFooter {
        display: flex;
        align-items: center;
        justify-content: center;

        .emptySpace {
          flex: 6 6;
        }

        .entryOptions {
          width: 100%;
          height: 100%;
          background-color: orange;
          padding: 16px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            border: 1px solid white;
          }
        }
      }
    }
  }

  .buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .delete {
      background-color: red;
    }

    .complete {
      background-color: gold;
    }
  }
}

//Styling the MyAccount page of the website
.MyAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  //Styling for the main content of the account page
  .Account {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    //Styling the subheadings on the page
    .subheading {
      font-weight: 700;
      font-size: 54px;
      margin: 20px;
    }

    //Styling the infoLines on the page
    .infoLine {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: 32px;

      .title {
        flex: 2 2;
        text-align-last: left;
        margin-left: 40px;
      }

      .info {
        flex: 2 2;
        font-weight: 500;

        &.imgLocation{
          display: flex;
          justify-content: center;
          align-items: center;

          #displayImg{
            width: 40px;
            height: 40px;
          }

        }
      }

      button{
        padding: 5px;
        margin-right: 10px;
        border-radius: 10px;
        border: none;
        font-size: 22px;
        background-color: orange;
        color: white;
        font-weight: 600;

        &:hover{
          border: 1px solid white;
        }
      }
    }
  }

  //Styling the popup windows on the site
  .changeInfoPopup{
    width: 100%;
    height: 100%;
    background-color: rgb(188, 188, 188);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;

    .popupHeader{
      font-size: 42px;
      padding: 10px;
    }

    .popupMain{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      gap: 20px;

      .popupLine{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-size: 28px;

        input{
          background-color: transparent;
          border: none;
          border-bottom: 2px solid white;
          font-size: 28px;

          &::placeholder{
            color: rgb(80, 80, 80);
            padding: 5px;
            font-size: 28px;
            font-weight: 400;
          }

          &:focus{
            border: none;
          }

        }

        //Styling the file input element
        .file{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-weight: 500;
          padding: 5px;

          //Creating a border to signify they can select it
          &:hover{
            border: 2px solid white;
          }

          img{
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    .popupFooter{
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      button{
        border-radius: 10px;
        border: none;
        padding: 16px;
        font-size: 28px;


        &:hover{
          border: 2px solid white;
        }

        &.submit{
          font-weight: 600;
          background-color: orange;
          color: white;
        }

        &.exit{
          background-color: red;
          font-weight: 700;
        }
      }
    }

    //Styling the error message on the page
    .error{
      color: red;
      font-size: 28px;
      margin-top: 5px;
    }
  }
}

.settingsComp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
  p{
    font-size: 42px;
    padding: 10px;
  }

  .subheading{
    font-size: 50px;
  }

  button{
    font-size: 42px;
    padding: 16px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    background-color: orange;
    color: white;
    margin: 10px;

    &:hover{
      border: 2px solid white;
    }

    &.delete{
      background-color: red;
      color: black;
    }
  }

  .settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .colourPicker{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;

      select{
        font-size: 42px;
        padding: 10px;
        background-color: transparent;
        border: none;
        font-weight: 600;

        &.default{
          color: white;
          border-bottom: 2px solid white;
        }
  
        &.dark{
          color: white;
          border-bottom: 2px solid white;
        }
  
        &.light{
          color: black;
          border-bottom: 2px solid black;
        }

        option{
          color: black;
        }

        &:focus{
          border: none;
        }
      }
    }
  }

  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .emailOutput{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }
}

